#title {
  background-color: #ff4c68;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
}

body {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding-bottom: 4.5rem;
}

.collapse{
  justify-content: right;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
}

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef7182;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
 
  text-align: center;
  background-color: #ef7182;
  color: #fff;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
    background-color: #ef7182;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;

}

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

@media (max-width: 1028px) {


  #title{
    text-align: center;
  }

  .title-image{
    position: static;

  }
  
}

#cta{
  background-color: #ff4c68;

}

.h3cta{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  padding: 5% 20% 0 20%;
  text-align: center;
}

.ctabtn{
  text-align: center;
  align-content: center;
}

#footer{
  padding: 7% 15%;
  text-align: center;

}

.social-icon{
  margin: 20px 10px;
}